<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.com.yixiangtw.MockMapper">
    <insert id="insertNews" parameterType="github.com.yixiangtw.News">
        insert into NEWS(title, content, url, CREATED_TIME, MODIFIED_TIME) values(#{title},#{content},#{url},#{createdTime},#{modifiedTime})
    </insert>
    <select id="selectNews" resultType="github.com.yixiangtw.News">
        select id, title, content, url, created_time, modified_time from NEWS
        LIMIT 2000
    </select>
</mapper>